# directories
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/cache
**/node_modules
**/out

# files
*.env
*.log
.DS_Store
.pnp.*
yarn-debug.log*
yarn-error.log*

venv

# Fuzz
crytic-export
echidna-corpus
medusa-corpus
med-logs